<div class="  bg-background p-4 flex items-center justify-between border-b border-gray-300 border-opacity-60 ">
    <!-- Logo on the left -->
    <img src="../../../assets/images/Logo/Logo.gif" alt="logos" class="cursor-pointer  h-16" routerLink="/"/>
  
 <div class="mr-auto  flex gap-6">
    <div class=" text-text text-2xl font-bold cursor-pointer " routerLink="/"> Support</div>
    <div class=" text-text text-2xl font-bold cursor-pointer ml-auto" routerLink="/"> distribution</div>
    <div class=" text-text text-2xl font-bold cursor-pointer ml-auto " routerLink="/"> Contact</div>
  </div>
  <form class="  my-auto rounded-2xl    flex   h-full  bg-[#3b3b3b]" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="  my-auto w-8   mx-auto  ">
      <i class="fa-solid fa-magnifying-glass h-full  pl-1" style="color: #ffffff;"></i>
    </div>
    <div class=" w-56 mx-auto flex   relative">
      <input
        type="text"
        class="w-full p-2 border-0   hover:border-opacity-0  
         text-white text-opacity-60 placeholder:text-opacity-60 
          placeholder:text-white rounded-2xl  bg-[#3b3b3b]  focus:border-0  focus-visible:border-0 "
        placeholder=" Search"
        name="search"
        ngModel
      />
  
      
    </div>
    </form>
    <!-- Log-in button on the right -->

      <app-sign-in></app-sign-in>
  </div>
  