<div class="  bg-background p-4 flex items-center justify-between border-b border-gray-300 border-opacity-60 ">
    <!-- Logo on the left -->
    <span class=" text-text text-2xl font-bold cursor-pointer " routerLink="/">Your Logo</span>
  
    <!-- Search bar in the middle -->
    <form class="w-1/3" (ngSubmit)="onSubmit(form)" #form="ngForm" >
    <div class="w-full mx-auto flex ">
      <input
        type="text"
        class="w-full p-2 rounded-md border border-white text-gray-700 bg-white focus:outline-none focus:border-blue-700"
        placeholder="Search"
        name="search"
        ngModel
      />
      <button class=" bg-primary  text-black  font-normal py-2 px-8 mx-3 rounded-md  hover:bg-blue-500 hover:text-white my-auto">
        search
      </button>
    </div>
    </form>
  
    <!-- Log-in button on the right -->
    <button class=" bg-primary  text-black  font-sans
     py-2 px-8 mx-3 rounded-md hover:bg-blue-500 hover:text-white my-auto">
        Log In
      </button>
  </div>
  