<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class=" bg-background   min-h-screen">
<app-herosection></app-herosection>

<section  class=" flex mx-3  p-3   bg-backgroundlight  rounded-lg">

   <!-- Search bar in the middle -->
   <div class="   h-12">
   <form class="  my-auto rounded-2xl    flex   h-full  bg-[#3b3b3b]" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="  my-auto w-8   mx-auto  ">
      <i class="fa-solid fa-magnifying-glass h-full  pl-1" style="color: #ffffff;"></i>
    </div>
    <div class=" w-56 mx-auto flex   relative">
      <input
        type="text"
        class="w-full p-2 border-0   hover:border-opacity-0  
         text-white text-opacity-60 placeholder:text-opacity-60 
          placeholder:text-white rounded-2xl  bg-[#3b3b3b]  focus:border-0  focus-visible:border-0 "
        placeholder=" Search"
        name="search"
        ngModel
      />
  
      
    </div>
    </form>
  </div>



    <div class=" flex gap-3  mr-auto h-20  ">
       

          <div class="h-20 my-auto relative pt-2 inline-block text-left   ml-5 w-48">
              <div class=" absolute top-4 left-1.5 text-white  cursor-default">Order by:</div>
            <select
              id="sort"
              name="sort"
              [(ngModel)]="sort"
              (change)="searchGames(sort, platform, genres,search)"
              class="block w-full text-md  pl-16   py-2 text-white rounded-md bg-[#3b3b3b]   "
            >
         
              <option value=" name">Name</option>
              <option value="-released">Released</option>
              <option value="-added">Added</option>
              <option value="-created">Created</option>
              <option value="-updated">Updated</option>
              <option value="-rating">Rating</option>
              <option value="-metacritic">Metacritic</option>
            </select>
          </div>
          
                 
<div class="relative">

  <select
    [(ngModel)]="platform"
    (change)="searchGames(sort, platform, genres,search)"
    class="block w-full text-md   px-2 py-2  mt-2 text-white rounded-md bg-[#3b3b3b]"

  >
  <option value="">Platform</option>
 
   
    <option value="1">PC</option>
    <option value="2">PlayStation</option>
    <option value="3">Xbox</option>
    <option value="4">iOS</option>
    <option value="8">Android</option>
    <!-- Add more platform options as needed -->
  </select>
</div>

<div class="relative">
 
  <select
    [(ngModel)]="genres"
    (change)="searchGames(sort, platform, genres,search)"
    class="block w-full text-md  px-2 py-2 mt-2 text-white rounded-md bg-[#3b3b3b] "
   
   
  >  
  <option value="">Genres</option>
    <option *ngFor="let genre of allGeners " value="{{genre?.id}}">{{genre.name}} </option>
  
    <!-- Add more genre options as needed -->
  </select>
</div>
  
    </div>
    <div class="  text-white my-auto ml-auto flex gap-3">
      Display options:
      <img src="../../../assets/images/display option/menu.png"
      [class.bg-[#ffffff]]="DisplayOption === 'option1'"
        class=" h-8 rounded-sm  bg-[#3b3b3b]  hover:bg-white hover:bg-opacity-30 p-1.5" alt="" (click)="displayoption('option1')">
      <img src="../../../assets/images/display option/list.png" 
      [class.bg-[#ffffff]]="DisplayOption === 'option2'"
   
      class=" h-8 rounded-sm  bg-[#3b3b3b]  hover:bg-white hover:bg-opacity-30" alt="" (click)="displayoption('option2')">
      
    <div>

    </div>
    </div>
            
  </section>

  <div class="skeleton-container"  *ngIf="isLoadingData &&  DisplayOption ==='option1'">
    <div class="bg-card" *ngFor="let index of skeletonIndexes" >
      <div class="skeleton-card" ></div>
      <div class="skeleton-text" ></div>
      <div class="skeleton-text2" ></div>
    </div>
  </div>

  <div class=" flex-col items-center flex justify-center w-full mx-auto"  *ngIf="isLoadingData && DisplayOption ==='option2'">
    <div class="bg-card2 flex w-full" *ngFor="let index of skeletonIndexes" >
      <div class="skeleton-card2  " ></div>
      <div class=" flex flex-col w-fit">
      <div class="skeleton-text2  pt-10 " ></div>
      <div class="skeleton-text  pt-10" ></div>
    </div>
    </div>
  </div>

<div class=" flex   flex-wrap  justify-center    2xl:mx-10  pb-44"  [class.flex-col]="DisplayOption === 'option2'"    *ngIf="!isLoadingData"
>
  
    <ng-container *ngFor="let game of games "   class=""   >
      <app-card  [game]="game" [openGameDetails]="openGameDetail" [router]="router" [display]="DisplayOption"></app-card>
          </ng-container>

   
<!-- app.component.html -->

  
        
</div>





<div  class="flex justify-center   mb-5">
  <ul class="inline-flex -space-x-px text-sm">
    <li>
      <a (click)="previewpage()" class="  flex items-center justify-center  w-20
       px-3 h-8 ms-0 leading-tight  text-white  cursor-pointer    mr-3  rounded-md 
       bg-backgroundlight dark:border-gray-700 hover:bg-white hover:bg-opacity-10 hover:text-gray-200">Previous</a>
    </li>
    <div class=" flex">
   
      <a *ngFor="let page of generatePagesArray()"
      class="px-3 h-8 pt-2 leading-tight   mx-0.5 rounded-md
      text-white  cursor-pointer  
         bg-backgroundlight dark:border-gray-700 hover:bg-white hover:bg-opacity-10 hover:text-gray-200
        " (click)="setpage(page)"
         [ngClass]="{'bg-[#636363]': page == currentpage }"
        >{{ page }}</a>
    
  </div>
    <li>
      <a (click)="nextpage() "  class="flex items-center justify-center px-3 h-8 leading-tight
      text-white  cursor-pointer  ml-3  rounded-md w-20
      bg-backgroundlight dark:border-gray-700 hover:bg-white hover:bg-opacity-10 hover:text-gray-200    ">Next</a>
    </li>
  </ul>
</div>


<div class=" h-2  "></div>

</div>