
<section class="  h-[750px]  overflow-hidden relative">

    <div  class="  w-full flex   flex-col  justify-center  mx-auto absolute    z-20  mt-10">
      <div *ngFor="let store of stores; let i = index"  class="hover:no-underline   ">
        <div  (mouseenter)="setindex(i)"  
         [@fadeIn]="shouldFadeIn ? true : false " 
          class="bg-backgroundlight p-4 rounded-md shadow-md w-64
          h-24 cursor-pointer flex my-2 ml-auto mr-24
          hover:scale-110 hover:bg-[#3d3d3d] transition-transform duration-300 ease-in"
          *ngIf="i < 4 || i == stores?.length! - 1" >
          <!-- Card content here -->
          <img src="{{ store.image_background  }}" alt="ss" class="h-full rounded-md ">
          <p class="text-white pl-5 text-sm flex items-center h-full w-full  text-justify">{{ store.name  }}</p>
        </div>
     </div>     
    </div>


<div class='absolute w-full  h-full  bg-gradient-to-b  from-background z-10  opacity-70 '></div>
<div class='absolute w-full  h-full  bg-gradient-to-t  from-background z-10  opacity-100 '></div>
<div class='absolute w-full  h-full  bg-gradient-to-r  from-background z-10  opacity-90 '></div>
<div *ngFor="let store of stores; let i = index">
<img *ngIf="i === currentindex" src="{{ store.image_background  }}" class="w-full mx-auto h-full object-cover sideway" >
<div *ngIf="i === currentindex" class="  absolute top-1/2 z-20  left-64  sideway">
    <p  class="text-white text-8xl ">{{ store.name  }}</p>

      <button (click)="openStoreUrl(store.domain) "  class="flex items-center justify-center py-3 my-3 px-5 leading-tight
      text-gray-900 text-xl  font-bold  cursor-pointer  ml-3  rounded-md   w-fit h-fit
        bg-white hover:translate-x-1   hover:-translate-y-1  transition-transform duration-100 ease-in  "
       [ngClass]="{
        'bg-[#1a9fff]  text-gray-200 !': store.name === 'Steam',
       
        ' bg-[#202020]  text-gray-50  !': store.name === 'Epic Games',
        'dark:bg-your-color-for-app-store!': store.name === 'app Store',
        'dark:bg-your-color-for-playstation-store!': store.name === 'PlayStation Store',
        'dark:bg-your-color-for-xbox-store!': store.name === 'Xbox Store'
      }" >Check It Now </button>
  
      <p class="text-white text-2xl">
        <span>Current games available </span>
        <span class="text-blue-500 count-up">{{ store.games_count }}</span>
      </p>
      

</div>
</div>
     </section>